body {
    font-family: 'Share', cursive;
    overflow-y: scroll;    
}
body h1 {
    text-align: center;
}
body a,
body a:focus {
    color: black;
    text-decoration: none;
}
body h3 {
    margin-left: 115px;
    margin-bottom: 20px;
}
input {
    text-align: center;
}
#header {
    margin-top: 15px;
}
.titles {
    margin-left: 5px;
    font-size: 28px;
}
.statlink {
    margin-top: 15px;
    text-align: center;
}
.toHomeButton {
    margin-top: 10px;
    text-align: center;
}
#customerColumn {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
#customerColumn .titles {
    color: green;
}
#customerColumn a:hover {
    color: green;
    text-decoration: none;
}
#vehicleColumn {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
#vehicleColumn .titles {
    color: orange;
}
#vehicleColumn a:hover {
    color: orange;
    text-decoration: none;
}
#mechanicColumn {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
#mechanicColumn .titles {
    color: red;
}
#mechanicColumn a:hover {
    color: red;
    text-decoration: none;
}
#serviceColumn {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}
#serviceColumn .titles {
    color: blue;
}
#serviceColumn a:hover {
    color: blue;
    text-decoration: none;
}
.btn-info {
    margin-bottom: 30px;
}
.hint {
    padding-top: 7px;
    font-style: italic;
}

// SERVICE
.year {
}
#year {
    width: 80px;
    margin-left: 15px;
}
.month{
    width: 110px;
}
.day,
#hour,
#minute {
    width: 75px;
}
.dateandtime {
    display: inline-block;
}
.timetitle {
    margin-left: 15px;
    margin-right: 10px;
    font-weight: bold;
}